@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-size: 16px !important;
}
body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: #ffffff
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foto{
    border-radius: 2.5%;
}

.apresentacao__conteudo{
    width: 38.438rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.apresentacao__links__item{
    border: 2px solid #22D4FD;
    width: 17.5rem;
    text-align: center;
    border-radius: 8px;
    padding: 1.344rem 0;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}
